body{
    display: flex;
    gap: 60px;
    width: 100vw;
    justify-content: center;
}
div {
    background-color: yellow;
    height: 30px;
    width: 30px;
}
.grid{
    background-color: blue;
    height: 600px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}
.previous-grid{
    height: 120px;
    width: 120px;
    display: flex;
    flex-wrap: wrap;
}
.previous-shape{
    height: 80px;
    width: 80px;
}
.block {
    background-color: blue;
}
.block2 {
    background-color: purple;
}
.block3 {
    background-color: green;
}