*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    gap: 60px;
    height: 100vh;
    justify-content: center;
    margin-top: 60px;
}
.button{
    width: 70px;
    height: 40px;
}
div {
    background-color: lightgray;
    height: 30px;
    width: 30px;
}
.grid{
    background-color: blue;
    height: 600px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}
.previous-grid{
    height: 120px;
    width: 120px;
    display: flex;
    flex-wrap: wrap;
}
.previous-shape{
    height: 80px;
    width: 80px;
}
.block {
    background-color: yellow;
}
.block2 {
    background-color: black;
}
.block3 {
    background-color: black;
}